body {
    background-color: black;
    font-family: Playwrite Deutschland Grundschrift;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-image: url('andrew-kliatskyi-PC01nb6VhM4-unsplash.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0; 
    
}
html {
    scroll-behavior: smooth;
}
.navcontainer {
    border: 1px solid white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: black;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.nav {
    text-decoration: none;
    color: white;
}
.name {
    margin-right: 50px;   
}
.imgsection {
    position: relative;
}
.profileimg {
    display: flex;
    justify-content: center;
    /* position: static; */
}
.img1{
    width: 100%;
    height: auto;
    opacity: 0.6;
    display: block;
  }

.imgtext {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;   
    padding: 20px;
    top: 70%;
    left: 40%;
    font-size: 2em;
    transform: translate(-50%,-50%);
}
.bennett {
    color: yellow;
}
.imgtext h1 {
    font-size: 50px;
    text-shadow: 4px 4px 6px black;
}
.imgtext p {
    font-size: 30px;
    text-shadow: 4px 4px 6px black;
}
.imgtext button{
    max-width: 200px;
    min-height: 30px;
    font-size: large;
    font-weight: bold;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 4px white;
}
.section3 {
    justify-content: center;
    margin-right: 50px;
    border-style: none;
    max-width: 30%;
    margin-left: 35%;
    margin-top: 30px;
}
.section3 h1 {
    color: yellow;
}
.section3 p {
    line-height: 1.5;
}
.section4 {
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    background-color: rgb(43, 43, 43);
    border: 1px solid white;
    margin-top: 30px;
}
.section4a {
    display: flex;
}
.fa-solid {
    margin-top: 18px;
    margin-right: 7px;
}
.fa-regular {
    margin-top: 18px;
    margin-right: 7px;
}
.section5 {
    margin-top: 50px;
    justify-content: center;
    max-width: 450px;
    margin-left: 35%;
}
.section5 h1 {
    color: yellow;
}
.section6 {
    margin-top: 58px;
}
.section6a {
    margin-top: 60px;
    display: flex;
    justify-content:space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}
.section6 h1 {
    color: yellow;
    text-align: center;
}
.porimg {
    max-width: 60%;
    border: 3px solid white;
    border-radius: 5%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.porimg:hover{
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
.section7a {
    margin-left: 25%;
    border: 1px solid white;
    max-width: 50%;
}
.section7ai {
    margin-left: 120px;
}
.section7 h1 {
    text-align: center;
    color: yellow;
}
.section7 p {
    font-size: 30px;
}
.section7 input {
    width: 600px;
    min-height: 25px;
}
.form1{
    margin-bottom:20px;
}
.section7 textarea {
    width: 650px;
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}
.fade-in {
    animation: fadeIn 5s ease-in-out;
}
.fadein {
    animation: fadeIn 7s ease-in-out;
}

@media (max-width: 400px) {
    .off-screen-menu {
        background-color: rgb(34, 37, 49);
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction:center;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease; 
    }
    .off-screen-menu.active {
        right: 0;
    }
    nav {
        padding: 1rem;
        display: flex;
        background-color: rgb(34, 37, 49);
    }
    .ham-menu {
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }
    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #6F86FF;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1) {
        top: 25%;
    }
    .ham-menu span:nth-child(3) {
        top: 75%;
    }
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }
    .ham-menu.active span:nth-child(2) {
      opacity: 0;
    }
    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }
    
}

@media (max-width: 450px) {
    body {
        background-image: none;
    }
    .navcontainer {
        border: none;
        position: relative;
        top: none;
        z-index: none;
        text-align: center;
    }
    .navbar {
        flex-direction: column;
    }
    .imgtext {
        position: relative; 
        text-align: center;
        top: 0%;
        left: 0%;
        transform: none;
    }
    .imgtext h1 {
        font-size: 30px;
    }
    .imgtext p {
        font-size: 15px;
        text-shadow: 4px 4px 6px black;
    }
    .imgtext button{
        max-width: 200px;
        min-height: 20px;
        font-size:medium;
        box-shadow: none;
        margin-left: 20%;
        margin-top: 8%;
    }
    .section3 {
        justify-content: center;
        margin-right: 5%;
        border-style: none;
        max-width: 90%;
        margin-left: 5%;
        margin-top: 30px;
    }
    
    .section4 {
        display: block;
        justify-content: space-evenly;
        background-color: rgb(46, 45, 45);
        border: 1px solid white;
        margin-top: 30px;
        padding-left: 15%;
    }
    .section5 {
        max-width: 90%;
        margin-left: 5%;
    }
    
    .section6a {
        margin-top: 60px;
        flex-direction: column;
        margin-left: 10%;
    }
    .section6 h1 {
        color: yellow;
        text-align: center;
    }
    .porimg {
        margin-bottom: 5% ;
        max-width: 100%;
    }
    .porimg:hover{
        transform: none;
        opacity: none;
        box-shadow: none; 
    }
    .section7a {
        margin-left: 3%;
        margin-right: 1%;
        max-width: 100%;
    }
    .section7ai {
        margin-left: 5%;
    }
    .section7 p {
        font-size: 30px;
    }
    .section7 input {
        width: 95%;
    }
    .section7 textarea {
        width: 95%;
    }
    
}